@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer base {
  * {
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #d1d5db;
    border-radius: 999px;
  }
}
